@(trade: TwoLegTrade)
@import views.helpers.TradesHelper._
<div id="pl-graph"></div>
<script>
	var graphData = new Object();
	@if(trade.isInstanceOf[Bullish]) {
		graphData.lowerAmount = @(-trade.maxLossAmount * 100);
		graphData.lowerPrice = @trade.maxLossPrice;
		graphData.higherAmount = @(trade.maxProfitAmount * 100);
		graphData.higherPrice = @trade.maxProfitPrice;
	} else {
		graphData.lowerAmount = @(trade.maxProfitAmount * 100);
		graphData.lowerPrice = @trade.maxProfitPrice;
		graphData.higherAmount = @(-trade.maxLossAmount * 100);
		graphData.higherPrice = @trade.maxLossPrice;
	}
	graphData.currentPrice = @trade.undLast;
	graphData.currentlyProfitable = @currentlyProfitable(trade);
	drawProfitLossChart(graphData, "pl-graph");
</script>
