@(trade: Trade)
@import views.helpers.TradesHelper._
<div class="center">
@defining(panelClass(trade)) { panelClass =>
	@details(trade).map { case(k, v) =>
		<div class="panel @panelClass inlineblock">
			<div class="panel-heading">@k</div>
			<div class="panel-body">@v</div>
		</div>
	}
	@partials.trades.plgraph(trade)
	<ul class="list-group inlineblock left">
	@profitMetrics(trade).map { case(k, v) =>
		<li class="list-group-item @panelClass">
			<span class="metrics-key">@k</span>
			<span class="badge metrics-value">@v</span>
		</li>
	}
	</ul>
	<ul class="list-group inlineblock left">
	@lossMetrics(trade).map { case(k, v) =>
		<li class="list-group-item @panelClass">
			<span class="metrics-key">@k</span>
			<span class="badge metrics-value">@v</span>
		</li>
	}
	</ul>
}
</div>