@if(!sys.env("MODE").equalsIgnoreCase("DEV")) {
	<div class="adsense">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- white728 -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:728px;height:90px"
		     data-ad-client="ca-pub-1368333894050507"
		     data-ad-slot="8772713463"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
} else {
	<div id="adsense-placeholder" class="adsense" style="background-color: #E7E7E7;display: inline-block;width: 50%;height: 90px;margin-left: 25%;margin-right: 25%;"></div>
}