html, body {
	height: 100%;
}
h1,
.jumbotron h1 {
	color: #2E802E;
}
.body-content {
	min-height: 100%;
	position: relative;
	padding-bottom: 75px;
}
h1,
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.inlineblock {
	display: inline-block;
}
.red {
	color: #FF0000;
}
.light-green {
	color: #8CB18C;
}
i {
	color: #808080;
	font-size: 0.8em;
}
.margin-2 {
	margin: 2em;
}
.btn-primary {
	background-color: #47A447;
	border-color: #398439;
}
.btn-primary:hover {
	background-color: #5CB85C;
	border-color: #4CAE4C;
}
#screener-full .row div {
	margin: 0 auto;
	float: none;
	display: inline-block;
}
form .row {
	margin-bottom: 1.25em;
}
#sym-label span {
	display: block;
}
#faq-list li {
	font-weight: 700;
	color: #134D13;
}
#faq-list li p {
	font-weight: 600;
	color: #000000;
}
#top-nav a {
	color: #FFFFFF;	
}
#top-nav a:hover {
	color: #94FF99;	
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}
#footer-links a {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 0.85em;
}
.navbar {
	border-radius: 0px;
}
.navbar-header,
.navbar-right {
	margin-left: 10%;
	margin-right: 10%;
}
.social {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
}
#screener-button {
	padding: 14px 32px;
}
td {
	text-align: right;
}
.table-dark {
	color: #FFFFFF;
	background-color: #222222;
}
.table-dark th {
	background-color: #004E00;
	text-align: center;
}
.table-striped>tbody>tr:nth-child(odd)>td {
	background-color: #080808;
}
.table-striped>tbody>tr:nth-child(even)>td {
	background-color: #3D3D3D;
}
.table-sorted th:hover,
.table-hover>tbody>tr:hover>td {
	background-color: #2E802E;
}
.table-sorted th:hover {
	cursor: pointer;
}
th.headerSortUp,
th.headerSortDown {
	background-color: #8CB18C;	
}
.table-dark .s {
	font-size: 0.8em;
	padding-right: 0.2em;
	padding-left: 0.1em;
	color: #F0FFF0;
}
/* OneSimpleTablePaging */
#tablePagination {
	text-align: center;
	padding-top: 0.25em;
	padding-bottom: 1em;
}
a.button {
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 1em;
	padding-right: 1em;
	position: relative;
	display: inline-block;
	-webkit-transition: border-color .218s;
	-moz-transition: border .218s;
	-o-transition: border-color .218s;
	transition: border-color .218s;
	background: #2E802E;
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#2E802E),to(#395C39));
	background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#2E802E),to(#395C39));
	border: solid 1px #16350C;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
a.button:hover {
	color: #000000;
	border-color: #A6CAAC;
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active {
	color: #000000;
	border-color: #444444;
}
a.left {
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	margin: 0;
}
a.right:hover {
	border-left: solid 1px #999999;
}
a.right {
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	border-left: solid 1px #F3F3F3;
	border-left: solid 1px rgba(255, 255, 255, 0);
}
#tablePaginationCurrPage {
	margin-left: 0.5em;
	margin-right: 0.5em;
	width: 3.5em;
	display: inline-block;
	font-size: 1.15em;
	padding: 0;
	padding-left: 0.75em;
}
#tablePaginationPageCounter {
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: 1.15em;
}