html, body {
	height: 100%;
}
h1,
.jumbotron h1 {
	color: #2E802E;
}
.body-content {
	min-height: 100%;
	position: relative;
	padding-bottom: 75px;
}
.center {
	text-align: center;
}
.red {
	color: #FF0000;
}
.light-green {
	color: #8CB18C;
}
.margin-2 {
	margin: 2em;
}
.btn-primary {
	background-color: #47A447;
	border-color: #398439;
}
.btn-primary:hover {
	background-color: #5CB85C;
	border-color: #4CAE4C;
}
#top-nav a {
	color: #FFFFFF;	
}
#top-nav a:hover {
	color: #94FF99;	
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
}
#footer-links a {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 0.85em;
}
.navbar {
	border-radius: 0px;
}
.navbar-header,
.navbar-right {
	margin-left: 10%;
	margin-right: 10%;
}
.social {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
}
#screener-button {
	padding: 14px 32px;
}