html, body {
	height: 100%;
}
h1,
.jumbotron h1 {
	color: #2E802E;
}
.body-content {
	min-height: 100%;
	position: relative;
	padding-bottom: 75px;
}
h1,
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.inlineblock {
	display: inline-block;
}
.red {
	color: #FF0000;
}
.light-green {
	color: #8CB18C;
}
i {
	color: #808080;
	font-size: 0.8em;
}
.margin-2 {
	margin: 2em;
}
.btn-primary {
	background-color: #47A447;
	border-color: #398439;
}
.btn-primary:hover {
	background-color: #5CB85C;
	border-color: #4CAE4C;
}
#screener-full .row div {
	margin: 0 auto;
	float: none;
	display: inline-block;
}
form .row {
	margin-bottom: 1.25em;
}
#sym-label span {
	display: block;
}
#top-nav a {
	color: #FFFFFF;	
}
#top-nav a:hover {
	color: #94FF99;	
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
}
#footer-links a {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 0.85em;
}
.navbar {
	border-radius: 0px;
}
.navbar-header,
.navbar-right {
	margin-left: 10%;
	margin-right: 10%;
}
.social {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
}
#screener-button {
	padding: 14px 32px;
}
td {
	text-align: right;
}
.table-dark {
	color: #FFFFFF;
	background-color: #222222;
}
.table-dark th {
	background-color: #004E00;
	text-align: center;
}
.table-striped>tbody>tr:nth-child(odd)>td {
	background-color: #080808;
}
.table-striped>tbody>tr:nth-child(even)>td {
	background-color: #3D3D3D;
}
.table-sorted th:hover,
.table-hover>tbody>tr:hover>td {
	background-color: #2E802E;
}
.table-sorted th:hover {
	cursor: pointer;
}
th.headerSortUp,
th.headerSortDown {
	background-color: #8CB18C;	
}
.table-dark .s {
	font-size: 0.8em;
	padding-right: 0.2em;
	padding-left: 0.1em;
	color: #F0FFF0;
}
