@main() {
<div class="jumbotron">
<h1>Optionometer</h1>
<h4>Multi-leg strategy screener for equity options</h4>
</div>
<p>Optionometer presents trading opportunities by determining which trades 
would potentially yield the most profit with the greatest chance of expiring at their 
full profit potential. Optionometer calculates possible trades for all securities 
in the Dow Jones Industrial Average, S&#38;P 500, and Nasdaq 100. For each stock in 
these indices the results are calculated for every possible option combination that would 
result in one of these four strategies:
</p>
<ul>
	<li>Bull Call Spread</li>
	<li>Bear Call Spread</li>
	<li>Bear Put Spread</li>
	<li>Bull Put Spread</li>		
</ul>
<p>Optionometer analyzes hundreds of thousands of possible strategies and presents the 
information needed to help you make better trades. As Optionometer is presently in beta
end-of-day data is used for all quotes and there may be the occasional bug, 
please send any feedback to <script>mailto();</script>
</p>
}
