@(title: String="optionometer", desc: String="Option screener for multi-leg stock option strategies")(content: Html)
<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
    	@if(title.equalsIgnoreCase("optionometer")) {
    	<title>Optionometer</title>
    	} else {
		<title>@title | Optionometer</title>    	
    	}
        <meta name="author" content="Matthew Frost" />
        <meta name="description" content="@desc" />
        <meta name="keywords" content="options,stocks,trading,option spreads,scanner,screener,equities,option strategies" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="publisher" href="https://plus.google.com/100792150980679428272"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.tablesorter.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/oom.js")"></script>
    </head>
    <body>
    	<div class="body-content">
    	@partials.navbar()
    	<div class="container">
        @content
        </div>
        @partials.footer()
        </div>
    </body>
</html>
