@main() {
<h1>Recommendations</h1>
<h3>Educational Resources</h3>
<ul>
	<li><a href="http://www.cboe.com/Learncenter/Default.aspx">CBOE Learning Center</a></li>
    <li><a href="http://www.optionmonster.com/education/">Option Monster Webinars</a></li>
    <li><a href="http://education.optionseducation.org/course/">Options Industry Center Course Catalog</a></li>
    <li><a href="http://www.investopedia.com/university/options/default.asp#axzz1k3ibQrfA">Investopedia Options Introduction</a></li>
    <li><a href="http://www.theoptionsguide.com/option-trading-strategies.aspx">Option Strategy Finder</a></li>

    
</ul>
<h3>Recommended Reading</h3>
<ul>
    <li>
        <a href="http://www.amazon.com/gp/product/0131710664/ref=as_li_tf_tl?ie=UTF8&tag=optionometer-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0131710664">The Bible of Options Strategies: The Definitive Guide for Practical Trading Strategies</a><img src="http://www.assoc-amazon.com/e/ir?t=optionometer-20&l=as2&o=1&a=0131710664" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
    <li>
        <a href="http://www.amazon.com/gp/product/0470481617/ref=as_li_tf_tl?ie=UTF8&tag=optionometer-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0470481617">The Option Trader Handbook: Strategies and Trade Adjustments</a><img src="http://www.assoc-amazon.com/e/ir?t=optionometer-20&l=as2&o=1&a=0470481617" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
    <li>
        <a href="http://www.amazon.com/gp/product/0471225347/ref=as_li_tf_tl?ie=UTF8&tag=optionometer-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0471225347">Come Into My Trading Room: A Complete Guide to Trading</a><img src="http://www.assoc-amazon.com/e/ir?t=optionometer-20&l=as2&o=1&a=0471225347" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
    <li>
        <a href="http://www.amazon.com/gp/product/0071363092/ref=as_li_tf_tl?ie=UTF8&tag=optionometer-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0071363092">The Master Swing Trader: Tools and Techniques</a><img src="http://www.assoc-amazon.com/e/ir?t=optionometer-20&l=as2&o=1&a=0071363092" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
    <li>
        <a href="http://www.amazon.com/gp/product/0071381562/ref=as_li_tf_tl?ie=UTF8&tag=optionometer-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0071381562">High Probability trading</a><img src="http://www.assoc-amazon.com/e/ir?t=optionometer-20&l=as2&o=1&a=0071381562" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
</ul>
}