@main("Disclaimer", "Optionometer Data Disclaimer") {
<div id="disclaimer=content">
    <h1>Optionometer Data Disclaimer</h1>
    <h3 class="red">ALL QUOTES ARE THE PREVIOUS DAY'S CLOSE</h3>
    <p>All calculations are performed using delayed data and should be re-calculated using real time quotes prior to
    making any trade decision.  Optionometer assumes no liability for losses incurred on trades placed based on information
    contained within this site, nor does Optionometer guarantee the accuracy of any quotes, data, calculations, or other
    information.</p>
    <p>All data is provided "as is" and solely for informational purposes. No display of quotes, data, or
    calculations in this web site are to be construed as a recommendation to purchase or sell a security, or to
    provide investment advice. Options involve risk and are not suitable for all investors.</p>
</div>
}