@main("FAQ", "Optionometer Frequently Asked Questions") {
<h1>Optionometer FAQ</h1>
<div>
    <ol id="faq-list">
        <li>Is Optionometer a good place for an inexperienced trader to learn about trading options?
            <p>The data presented here is most useful to those already familiar with the basics of option
            trading. If you're a new trader you may want to take a look at our new trader 
            <a href="@routes.Application.recommendations">recommendations</a></p>
        </li>
        <li>Does Optionometer screen all US stocks?
            <p>Not yet, only components of the S&#38;P 500, Nasdaq 100, Dow Jones Industrial Average, and the ETFs 
            representing those indices are screened.</p>
        </li>
        <li>Any plans to include more strategies?
            <p>There are plans to eventually include butterflies and condors.</p>
        </li>
        <li>Why is the data delayed?
            <p>At this phase of development there is not yet a need to incur the costs associated
            with providing real-time data.</p>
        </li>
        <li>Will Optionometer ever require registration and/or payment?
            <p>Once all initial features have been implemented and testing has completed much of the data presently
            available will continue to be offered without any type of subscription or registration required.
            Though nothing has been determined yet, there is the possibility access to additional symbols, more strategies, 
            or real-time data will require registration or subscription.</p>
        </li>
        <li>Is there a target date for completion?
            <p>As of Fall 2013 the plan is to have concluded beta by the end of the year.</p>
        </li>
        <li>How can I report a bug?
            <p>Bug reports or any other feedback can be emailed to <script>mailto();</script></p>
        </li>
    </ol>
</div>
}