<form id="screener-full" role="form" class="center">
	<div class="row">
		<div class="col-lg-3">
			<label for="strat">Strategy</label>
			<select id="strat" name="strat" class="form-control">
				<option value="all">All</option>
				<option value="bullish">All Bullish</option>
				<option value="bearish">All Bearish</option>
				<option value="rangebound">All Rangebound</option>
				<option value="bullcalls">Bull Call Spread</option>
				<option value="bearcalls">Bear Call Spread</option>
				<option value="bullputs">Bull Put Spread</option>
				<option value="bearputs">Bear Put Spread</option>
				<option value="longcallbutterflies">Long Call Butterflies</option>
				<option value="longputbutterflies">Long Put Butterflies</option>
			</select>
		</div>
		
		<div class="col-lg-3">
			<label id="sym-label" for="sym">
				<span>Underlier(s)</span>
				<i class="ital">Separate symbols with spaces</i>
			</label>
			<input id="sym" name="sym" type="text" title="Leave blank to search all" class="form-control">
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-2">
			<label for="moneyness">Moneyness</label>
			<select id="moneyness" name="moneyness" class="form-control">
				<option value="any">Any</option>
				<option value="otm">Out of the Money</option>
				<option value="ntm">Near the Money</option>
				<option value="itm">In the Money</option>
			</select>
		</div>
	
		<div class="col-lg-2">
			<label for="mindays">Minimum Days to Expiration</label>
			<input id="mindays" name="mindays" type="number" class="form-control" placeholder="0">
		</div>
		<div class="col-lg-2">
			<label for="maxdays">Maximum Days to Expiration</label>
			<input id="maxdays" name="maxdays" type="number" class="form-control" placeholder="9999">
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-2">
			<label for="minprofitpercent">Minimum Profit Percent</label>
			<input id="minprofitpercent" name="minprofitpercent" type="number" class="form-control" placeholder="0">
		</div>
		<div class="col-lg-2">
			<label for="minprofitamount">Minimum Profit Amount</label>
			<input id="minprofitamount" name="minprofitamount" type="number" class="form-control" placeholder="0">
		</div>
		<div class="col-lg-2">
			<label for="maxlossamount">Maximum Loss Amount</label>
			<input id="maxlossamount" name="maxlossamount" type="number" class="form-control" placeholder="9999">
		</div>
	</div>
	
	<button type="submit" class="btn btn-primary">Screen</button>
</form>