@(trades: List[TwoLegTrade])
@import views.helpers.TradesHelper._
<table class="table table-dark table-hover table-condensed table-striped table-sorted table-responsive">
	<thead>
		<tr>
			<th>Underlier</th>
			<th>Underlier Last</th>
			<th>Lower Strike</th>
			<th>Higher Strike</th>
			<th>Max Loss</th>
			<th>Max Profit</th>
			<th>Profit percent</th>
			<th>Profit per Day</th>
			<th>Expires</th>
			<th>Strategy</th>		
		</tr>
	</thead>
	<tbody>
	@trades.map { trade =>
		<tr>
			<td class="center">@trade.underlier</td>
			<td>@trade.undLast</td>
			<td>@trade.lowerStrike</td>
			<td>@trade.higherStrike</td>
			<td><span class="s">$</span>@trade.maxLossAmount</td>
			<td><span class="s">$</span>@trade.maxProfitAmount</td>
			<td>@trade.profitPercent<span class="s">%</span></td>
			<td>@trade.profitPercentPerDay<span class="s">%</span></td>
			<td><div class="hovertip" data-content="@trade.daysToExpire days until expiration">@trade.expMonthYear</div></td>
			<td class="center">@defining(stratWithDescription(trade)) { case (strat, desc) => 
				<div class="hovertip" data-content="@desc">@strat</div>
			}
			</td>					
		</tr>
	}
	</tbody>
</table>
