@(trades: List[TwoLegTrade])
<table class="table table-dark table-bordered table-hover table-condensed table-sorted table-responsive">
	<thead>
		<tr>
			<th>Underlier</th>
			<th>Underlier Last</th>
			<th>Lower Strike</th>
			<th>Higher Strike</th>
			<th>Max Loss</th>
			<th>Max Profit</th>
			<th>Profit percent</th>
			<th>Profit per Day</th>
			<th>Days to Expire</th>
			<th>Strategy</th>		
		</tr>
	</thead>
	<tbody>
	@trades.map { trade =>
		<tr>
			<td class="center">@trade.underlier</td>
			<td>@trade.undLast</td>
			<td>@trade.lowerStrike</td>
			<td>@trade.higherStrike</td>
			<td><span class="s">$</span>@trade.maxLossAmount</td>
			<td><span class="s">$</span>@trade.maxProfitAmount</td>
			<td>@trade.profitPercent<span class="s">%</span></td>
			<td>@trade.profitPercentPerDay<span class="s">%</span></td>
			<td>@trade.daysToExpire</td>
			<td>@defining(trade match {
				case t: BullCall => ("Bull Call", "Buy calls and sell an equal amount of calls with a higher strike")
				case t: BearCall => ("Bear Call", "Sell calls and buy an equal amount of calls with a higher strike")
				case t: BullPut => ("Bull Put", "Sell puts and buy an equal amount of puts with a lower strike")
				case t: BearPut => ("Bear Put", "Buy puts and sell an equal amount of puts with a lower strike")
			}) { case (strat, desc) => 
				<span class="strat-desc" data-content="@desc">@strat</span>
			}
			</td>					
		</tr>
	}
	</tbody>
</table>
